{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center;">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <p>
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter username" name="username" id="username" required>
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" required>
                </p>
                <p>
                    <button type="submit" class="login">Log in</button>
                </p>
            </div>
        </form>
    </div>
{% endblock content %}