{% extends 'base.html' %}
{% block content %}
    <h1>This is the Submit Score</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="user">Username:</label><br>
        <input type="text" id="username" name="username" value=""><br>
        <label for="ad">Ad: </label><br>
        <select name="ad" id="ad">
            {% for ad in ads %}
                <option value="{{ ad.title }}">{{ ad.title }}</option>
            {% endfor %}
        </select><br>
        <label for="hours">Hours:</label><br>
        <input type="text" id="hours" name="hours" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}